.inputContainer {
  width: auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.input {
  width: 18rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 10px;
  outline: none;
  border-style: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.downloadButton {
  margin-top: -1rem;
  padding: 1rem 1.2rem;
  border-radius: 8px;
  background-color: rgb(6, 97, 6);
  border-style: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.downloadButton:hover {
  transform: scale(1.1);
}
